.about_container {
    width: 851px;
    height: 300px;
    border: 1px solid rgb(220, 220, 223);

    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    box-sizing: border-box;
}

.about_title_container {
    width: 849px;
    height: 40px;
    display: flex;
    flex-direction: row;
    background-color: #F5F6F7;
    align-items: center;
    border-bottom: 1px solid rgb(220, 220, 223);
    /* border-right: 1px solid rgb(220, 220, 223); */
}

.about_title_container img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-left: 9px;
}

.about_title_container p {
    color: #4B4F56;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 24px;
    margin-left: 9px;
    margin-top: 5px;
    font-weight: bold;
}

.about_menu {
    display: flex;
    flex-direction: column;
    width: 242px;
    height: 260px;
    color: #90949c;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 30px 24px 0px 0px;
    background-color: white;
    border-right: 1px solid rgb(220, 220, 223);
}

.about_menu a {
    margin: 5px;
}

.about_menu a:focus {
    font-weight: bold;
    color: black;
    border-left: 5px solid black;
}

.menu_content {
    width: 610px;
    height: 260px;
    padding: 30px 24px 0px 30px;
    box-sizing: border-box;
}


.about_body_container {
    display: flex;
    flex-direction: row;
}