/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */ 

 /* PHASE 0: Reset */

html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  /*
  Get rid of native styling. Read more here:
  http://css-tricks.com/almanac/properties/a/appearance/
  */
  -webkit-appearance: none;
  -moz-appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}


.birthday_month {
    border: none;
}

.birthday_day {
    border: none;
}

.birthday_year {
    border: none;
}
/* Apply border-boxing to all */

* {
    box-sizing: border-box;
}

/*



LEFT BLANK INTENTIONALLY




*/


/* parent of all components in landing page */
.landing_page {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-content: center; */
    background-color: rgb(237, 240, 245);
}

.welcome_page_header {
    /* border: 1px solid black; */
    display: flex;
    height: 82px;
    width: 100%;
    background-color: #385898;
    font-family: Helvetica, Arial, sans-serif;
    /* center my children (which is just 1 div tag) */
    justify-content: center;
}

.welcome_page_menu_bar {
    /* border: 1px solid black; */
    display: flex;
    width: 980px;
    height: 78px;
    /* center my children (which are span and div from loginformcont*/
    justify-content: center;
    justify-content: space-between;
}

.thefacebook {
    /* font-family: inherit; */
    /* border: 1px solid black; */
    font-size: 41px;
    color: white;
    font-weight: bold;
    height: 50px;
    letter-spacing: -1px;
    margin-top: 25px;
}

.login_container {
    /* border: 1px solid black; */
    color: white;
    width: 392px;
    height: 65px;
    margin-top: 10px;
}

.login_container span {
    font-size: 12px;
}

.login_input_email {
    width: 150px;
    height: 23px;
    /* padding-left: 4px; */
    border: 1px solid black;
    background-color: white;
    padding: 4px 3px 4px 3px;
    box-sizing: border-box
}

.login_input_password {
    width: 150px;
    height: 23px;
    /* padding-left: 5px; */
    border: 1px solid black;
    background-color: white;
    padding: 4px 3px 4px 3px;
    box-sizing: border-box
}

.login_button {
    font-size: 12px;
    width: 50px;
    height: 24px;
    font-weight: bold;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    /* This will ensure padding is included in width/height spec */
    box-sizing: border-box;
    border: 1px solid #1D3C78;
    background-color: rgb(36, 95, 173);
    border-radius: 2px;

}

.login_button:hover {
    background-color: #2851A3;

}

/* .login_form_label_field {
    padding: 0px;
} */

.login_form_label_field div a {
    font-size: 12px;
    color: #9CB4D8;
}

.login_form td {
    padding-right: 14px;
}

/* --------------------------------------------- */
/* LandingPage with Nav, Sign up, children */

.landing_page_body {
    margin-top: 20px;
    /* Align my children in center */
    display: flex;
    flex-direction: column;
    align-self: center;

    /* This is aligning children to the right */
    /* align-items: flex-end; */
    width: 1000px;
    height: 624px;
}

.body_upper_part {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.top_left_row {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding-bottom: 8px;
    align-content: center;
    align-items: center;
}


.body_top_left_child h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
    font-size: 28px;
    font-weight: bold;
}

.top_left_row p, .top_left_row h4 {
    display: inline-block;
    margin: 0px;
}

.top_left_row h4 {
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 15px;
}

.top_left_row p {
    font-size: 14px;
    color: #666666;
}

.body_upper_left_text_span {
    vertical-align: text-bottom; 
}
/* this is the h1s */
.body_top_left_child {
    margin-top: 50px;
    margin-left: 10px;
}

/* this is the first image and the text */
.body_upper_left_table {
    margin-top: 34px;
}


.landing_page_signup_form {
    /* font-family: Helvetica, Arial, sans-serif; */
}

.signup_message {
    display: inline-block;
    width: 399px;
    height: 43px;
}

.signup_message h3 {
    margin: 0px;
    margin-bottom: 5px;
    font-size: 36px;
    font-family: Helvetica, Arial, sans-serif;
    margin-bottom: 5px;
    /* position: relative; */
}

.signup_message p {
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(51, 51, 51);
    /* margin-bottom: 20px; */
    /* position: relative; */
}

.name_container {
    flex-direction: row;
    /* position: relative; */
    top: 40px;
    letter-spacing: 1px;
}

::placeholder {
    color: rgba(118, 123, 133, 0.863);
}

.name_container input {
    border: 1px solid rgb(189, 199, 216);
    border-radius: 5px;
    padding: 8px 10px 8px 10px;
    font-family: Helvetica, Arial, Helvetica, sans-serif;
    width: 194px;
    height: 39px;
    box-sizing: border-box;
    margin-top: 20px;
    margin-right: 10px;
}

.email_container {
    border: 1px solid rgb(189, 199, 216);
    border-radius: 5px;
    padding: 8px 10px 8px 10px;
    margin-top: 15px;
    margin-right: 10px;
    font-family: Helvetica, Arial, Helvetica, sans-serif;
    width: 399px;
    height: 39px;
    box-sizing: border-box;
    background-color: white;
}

.password_container {
    border: 1px solid rgb(189, 199, 216);
    border-radius: 5px;
    padding: 8px 10px 8px 10px;
    margin-right: 10px;
    font-family: Helvetica, Arial, Helvetica, sans-serif;
    width: 399px;
    height: 39px;
    box-sizing: border-box;
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: white;
}

.label_birthday {
    color: rgb(144, 148, 156);
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

input, select {
    background-color: white;
}

select {
    width: 69px;
    height: 30px;
}

.birthday_container {
    width: 399px;
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}

.gender_container p {
    color: rgb(144, 148, 156);
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;  
    margin: 10px 0 5px 0;
}

.birthday_day {
    border: 1px solid rgb(189, 199, 216);
}

.birthday_month {
    border: 1px solid rgb(189, 199, 216);
}

.birthday_year {
    border: 1px solid rgb(189, 199, 216);
}

.gender_container span {
    position: relative;
    top: 3px;
    margin-right: 10px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.gender_container input {
    margin-right: 5px;
}

.terms_and_policies_message {
    width: 399px;
    height: 42px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    font-size: 11px;
}

.terms_and_policies_message p {
    margin-right: 20px;
}

#signup_button {
    width: 194px;
    height: 39px;
    font-size: 19px;
    color: white;
    background-color: #69A74E;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 15px;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    /* box-shadow: rgb(164, 227, 136); */
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.8);
    border: 1px solid rgb(59, 110, 34);
    /* box-shadow: inset 2px 4px 9px -6px; */
    /* optional color, inset.  
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    /* blur radius will blur out the radius by so and on */
    /* spread radius is how much radius will spread inside */
    box-shadow: rgb(164, 227, 136) 0px 1px 1px 0px inset;
}

#signup_button:hover {
    background-color: rgb(98, 156, 73);
}

.create_page_message {
    align-self: flex-end;
    margin-right: 10px;
    margin-top: 2px;
    font-size: 13px;
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
    width: 399px;
    height: 33.2px;
    box-sizing: border-box;
    padding-top: 10px;
    border-top: 1px solid rgb(189, 199, 216);
    color: rgb(102, 102, 102);
}

.create_page_message a {
    color: #385898;
}

.terms_and_policies_message a {
    color: #385898;
}