.home_page_items {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-content: center; */
}

.home_page_body {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* margin-top: 10px; */
    height: 900px;
}

.name_and_create_post {
    display: flex;
    flex-direction: row;
    /* justify-content: flex-start; */
    position: relative;
    left: -173px;
    margin-top: 10px;
} 

.homepage_left_child a {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 30px;
} 

.homepage_left_child a {
    margin-top: 5px;
    color: #1D2129;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.name_and_create_post img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin:5px;
}

.name_and_create_post a {
    color: #1D2129;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    height: 30px;
    min-width: 150px;
    overflow: hidden;
    box-sizing: border-box;
}

.homepage_left_child a:hover {
    /* box-sizing: border-box; */
    border: 1px solid rgb(221, 223, 226);
    background-color: rgb(245, 246, 247);
}

#newsfeed {
    border: 1px solid rgb(221, 223, 226);
    background-color: rgb(245, 246, 247);
}

/*    
.all_posts {
    position: relative;
    left: -115px;
} */