.home_page_items {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-content: center; */
}

.home_page_body {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* margin-top: 10px; */
    height: 900px;
}

.name_and_create_post {
    display: flex;
    flex-direction: row;
    /* justify-content: flex-start; */
    position: relative;
    left: -173px;
    margin-top: 10px;
    /* align-items: center; */
}

.name_and_create_post img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin:5px;
}

.name_and_create_post a {
    color: #1D2129;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    height: 30px;
    width: 85px;
    overflow: hidden;
}

.img_and_name {
    display: flex;
    flex-direction: row;
    height: 30px;
    align-items: center;
}

.img_and_name a {
    margin-top: 15px;
    color: #1D2129;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.all_posts {
    position: relative;
    left: -115px;
}