.world_icon_and_text img {
    width: 24px;
    height: 24px;
}

.thought_icon_and_text img {
    width: 20px;
    height: 20px;
}

.intro_container {
    display: flex;
    flex-direction: column;
    width: 323px;
    height: auto;
    border: 1px solid rgb(220, 220, 223);
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

.world_icon_and_text {
    display: flex;
    flex-direction: row;
    width: 150px;
    /* position: relative; */
    margin-left: 10px;
    margin-top: 10px;
    align-items: center;
}

.intro {
    font-size: 16px;
    margin-left: 8px;
}

.thought_icon_and_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    text-align: center;
}

.add_bio_message {
    margin-top: 5px;
    margin-bottom: 7px;
    font-size: 12px;
    color: rgb(66, 74, 94);
}

/* 


*/

.intro_container table {
    margin: 10px;
}

.intro_container tr {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.intro_container td  {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    /* baseline here applies to Text and User Info */
    display: flex;
    justify-content: baseline;
}


.intro_container table img {
    width: 16px;
    height: 18px;
    margin-bottom: 3px;
    margin-right: 5px;
}

.intro_container table td span {
    margin-left: 4px;
    cursor: pointer;
    color: #385898;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

#rel_status {
    margin: 0px;
}

.default_text {
    color: #90949C;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
/* 
.default_text:hover {
    text-decoration: underline;
    cursor: pointer;
} */


/* 

Buttons

*/

.thought_icon_and_text button {
    color: #3578E5;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}


#bio_message {
    margin-top: 5px;
    margin-bottom: 7px;
    font-size: 12px;
    word-break: break-word;
}