.modal_background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.edit_profile_modal {
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
  width: 630px;
  height: 900px;
  box-sizing: border-box;
}

.create_post_modal {
  top: 93%;
  left: 60%;
  transform: translate(-50%, -50%);
  position: relative;
  width: 630px;
  height: 900px;
  box-sizing: border-box;

}


/* .modal_child {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
} */

.edit_post_modal {
  top: 93%;
  left: 60%;
  transform: translate(-50%, -50%);
  position: relative;
  width: 630px;
  height: 900px;
  box-sizing: border-box;
}

.view_image_modal {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
  width: 8000px;
  height: 600px;
  box-sizing: border-box;
}