.modal_background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.edit_profile_modal {
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
  width: 630px;
  height: 900px;
  box-sizing: border-box;
}

.create_post_modal_homepage {
  top: 12.4%;
  left: 45.6%;
  transform: translate(-50%, -50%);
  position: relative;
  width: 510px;
  height: 130px;
  box-sizing: border-box;
}

.create_post_modal {
  top: 52%;
  left: 57%;
  transform: translate(-50%, -50%);
  position: relative;
  width: 510px;
  height: 130px;
  box-sizing: border-box;
}


/* .modal_child {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
} */

.edit_post_modal {
  top: 52%;
  left: 57%;
  transform: translate(-50%, -50%);
  position: relative;
  width: 510px;
  height: 130px;
  box-sizing: border-box;
}

.view_image_modal {
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
  width: 800px;
  height: 800px;
  box-sizing: border-box;
}

.upload_photos_modal {
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
  width: 500px;
  height: 150px;
  box-sizing: border-box;
}

/* 

TODO

*/


/* TODO BUG SCROLL */

/* 
html, body {
    max-width: 100%;
    overflow-x: hidden;
} */