.main_nav {
    display: flex;
    background-image: linear-gradient(to bottom, #385898, #4A4D9B);
    justify-content: center;
    height: 42px;
    box-sizing: border-box;

}

.profile_nav {
    display: flex;
    flex-direction: row;
    height: 42px;
    min-width: 1000px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;

    /* TODO: Added this so it won't move on component dropdown */
    position: absolute;

    margin-left: 20px;
}

/* this contains LOGO */
.profile_nav_logo {
    box-sizing: border-box;
    align-items: center;
    padding: 2px;
    margin-right: 3px;
}

/* this is LOGO */
.profile_nav img {
    width: 22px;
    height: 22px;
    margin: 2px 4px 2px 2px;
}

.profile_nav_search {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile_nav_search > form > input {
    width: 400px;
    height: 24px;
    background-color: #ffffff;
    padding: 0px 48px 0px 5px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px; 
    /* outline: 1px solid rgb(0,0,0,0); */
}
/* 
.profile_nav_search > form {
    display: flex;
    flex-direction: row;
} */

.profile_nav_search button {
    background-color: white;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    padding-left: 10px;
    padding-right: 10px;
}

.profile_nav_logo img {
    height: 24px;
    width: 24px;
}

/* this contains all of the right side */
.profile_nav_navigation {
    display: flex;
    flex-direction: row;
    height: 42px;
    align-items: center;
    margin-left: 40px;
    margin-right: 200px;
}

/* this wraps profile pic AND name */
.profile_icon_name_wrapper {
    display: flex;
    flex-direction: row;
    width: 65px;
    box-sizing: border-box;
    align-items: center;
    margin-bottom: 3px;
}

.profile_icon_name_wrapper img {
    border-radius: 50%;
    margin-top: 2px;
    margin-right: 5px;

}

.user_first_name {
    /* box-sizing: border-box; */
    margin-right: 12px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
}

.profile_nav_home_find_create {
    box-sizing: border-box;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 12px;
    margin-left: 12px;
}

.home {
    margin-left: 10px;
    padding: 0px 12px 0px 12px;
    border-right: 0.5px solid rgba(75, 95, 136, 0.863);
}


.find_friends {
    padding: 0px 12px 0px 12px;
    border-right: 0.5px solid rgba(75, 95, 136, 0.863);
}

.create {
    padding: 0px 12px 0px 12px;
    border-right: 0.5px solid rgba(75, 95, 136, 0.863);
    border-right: 0.5px solid rgba(75, 95, 136, 0.863);
}
.friends_messages_nots {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    margin-left: 8px;
}

.friends_messages_nots span {
    margin: 0px 4px 0px 4px;
}

.friends_messages_nots img {
    width: 18px;
    height: 18px;
}

.friends_messages_nots img:hover {
    color: white;
    /* animation: glow 1.5s linear infinite alternate; */
}

/* @keyframes glow{
  to {
    box-shadow: 0px 0px 10px 10px #535FED;
  }
} */

.question_and_more {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.question_and_more span {
    margin: 0px 0px 0px 4px;
}

.question_and_more img {
    width: 18px;
    height: 18px;
}

.dropdown img {
    width: 8px;
    height: 5px;
}



/* 

ALL HEIGHT 42px;

*/

