/* very messy styling of photos */

.photos_section > .photos_sidebar_container {
    box-sizing: border-box;
    background-color: white;
    /* margin-top: 15px; */
    display: flex;
    flex-direction: column;
    width: 850px;
    height: auto;
    border: 1px solid rgb(220, 220, 223);
    border-radius: 3px;
    margin-left: 12px;
}

/* photos_sidebar_container */

.photos_section > .photos_sidebar_container > .photos_text {
    background-color: #F5F6F7;
    height: 43px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid rgb(220, 220, 223);
}

.photos_section > .photos_sidebar_container > .photos_text > a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #4B4F56;
    font-size: 20px;
    /* height: 24px;
    margin-left: 9px;
    margin-top: 5px;
     */
    font-weight: bold;

    padding: 12px 0px;
    margin: 0px 12px;
    align-self: center;
    text-decoration: none;
}

.photos_section > .photos_sidebar_container > .photos_text > a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.photos_section > .photos_sidebar_container > .photos_text > button {
    color: #355898;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    margin-right: 12px;
}

.photos_section > .photos_sidebar_container > .photos_text > button:hover {
    text-decoration: underline;
    cursor: pointer;
}


.photos_section > .photos_sidebar_container > .all_photos_sidebar {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-items: left;
    justify-content: left;
    margin: 3px;
}

.photos_section > .photos_sidebar_container > div > div {
    box-sizing: border-box;
    width: 210px;
    height: 210px;
    padding: 3px;
}

.single_photo img {
    width: 100%;
    height: 100%;
}