/* very messy styling of photos */

.profile_photos_container > .photos_sidebar_container {
    box-sizing: border-box;
    background-color: white;
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    width: 325px;
    height: auto;
    border: 1px solid rgb(220, 220, 223);
    border-radius: 3px;
}

/* photos_sidebar_container */

.profile_photos_container > .photos_sidebar_container > .photos_text {
    height: 43px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.profile_photos_container > .photos_sidebar_container > .photos_text > a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #1D2129;
    padding: 12px 0px;
    margin: 0px 12px;
    text-decoration: none;
}

.profile_photos_container > .photos_sidebar_container > .photos_text > a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.profile_photos_container > .photos_sidebar_container > .photos_text > button {
    color: #355898;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    margin-right: 12px;
}

.profile_photos_container > .photos_sidebar_container > .photos_text > button:hover {
    text-decoration: underline;
    cursor: pointer;
}


.profile_photos_container > .photos_sidebar_container > .all_photos_sidebar {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-items: left;
    justify-content: left;
    margin: 2px;
}

.profile_photos_container > .photos_sidebar_container > div > div {
    box-sizing: border-box;
    width: 106px;
    height: 106px;
    padding: 2px;
}

.single_photo img {
    width: 100%;
    height: 100%;
}

.single_photo img:hover {
    cursor: pointer;
    opacity: 0.9;
}

img {
    cursor: pointer;
}