/* very messy styling of photos */

.profile_photos > div > div {

}

.all_photos_sidebar {
    box-sizing: border-box;
    width: 320px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row; */
    /* overflow: hidden; */
}

.single_photo { 
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    margin: 2px;
}

.single_photo img {
    width: 100%;
    height: 100%;
    /* margin: 5px; */
}