.create_and_show_posts {
    display: flex;
    flex-direction: column;
    width: 514px;
}

.one_post {
    min-height: 101px;
    width: 510px;
    background-color: white;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid rgb(220, 220, 223);
    margin-left: 15px;
    border-radius: 3px; 
    display: flex;
    flex-direction: column;   
}

/*  */

.one_post_left_child {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*  */
.one_post_left_child > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 5px;
    margin-top: 5px;
}

.post_author_profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 5px;
    border:  1px solid rgb(220, 220, 223);
}

.post_author {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #385898;
    font-weight: bold;
}

.post_content {
    color: #1C1E21;
    font-size: 21px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 5px;
    padding-bottom: 5px;
    display: inline-block;
    overflow-wrap: break-word;
    word-wrap: break-word; 
}

.name_date_container {
    display: flex;
    flex-direction: column;
}

.name_date_container > span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #616770;
}

.num_comments {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #616770;
    align-self: flex-end;
    margin-right: 10px;
    margin-top: 5px;
}

.num_comments:hover {
    cursor: pointer;
    text-decoration: underline;
}

.post_footer {
    border-bottom: 1px solid rgb(220, 220, 223);
    margin: 0px;
    padding: 0px;
}

.like_comment_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 10px 0 0px;
    width: 100%;
    border-top: 1px solid rgb(220, 220, 223);

}

.like_comment_container li span {
    width: 160px;
    color: rgb(96, 103, 112);
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.like_comment_container button {
    color: rgb(96, 103, 112);
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 190px;
}

.like_comment_container button{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 42px;
}

.like_comment_container li {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 42px;
}


.like_comment_container > li {
    margin-left: 50px;
}

.like_comment_container img {
    width: 17px;
    height: 17px;
    border-radius: 0px;
    padding: 7px;
    /* border: 1px solid rgb(220, 220, 223);     */
}

.comment_form_profile {
    border: 1px solid rgb(220, 220, 223);
}


/* authors two post show */

.authors {
    display: flex;
    flex-direction: row;
}

.authors a span {
    margin-right: 3px;
}

.post_options {
    margin-right: 10px;
    position: relative;
    top: -10px;
}

.post_options button {
    margin-left: 7px;
}

/* 


*/

.post_image {
    width: 510px;
    height: 380px;
}

.post_image > img {
    height: 100%;
    width: 100%;
    /* object-fit: cover; */
}

/* 

TODO LIKES


*/

.like_count_container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.like_count_container > img {
    width: 17px;
    height: 17px;
    padding: 3px;
    margin-left: 5px;
}

.like_count_text {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    color: #606770;
    cursor: pointer;
}

.like_count_text:hover {
    text-decoration: underline;
}