.view_image_modal {
    width: 800px;
    height: 800px;
}

.view_image img {
    width: 100%;
    max-height: 800px;
    object-fit: cover;
}

.view_image button {
    margin-left: 780px;
    font-size: 30px;
    color: white;
}